<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <style>
        footer{
            
        }
    </style>
</head>
<body>
    <footer>
        &copy;  2020 R&H
    </footer>
</body>
</html>